<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInputplaceholder="Ex. pat@example.com">
        <mat-error>Please enter a valid email address</mat-error>
        <mat-error>Email is <strong>required</strong></mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
          <mat-label>Passsword</mat-label>
          <input type="email" matInputplaceholder="Ex. pat@example.com">
            <mat-error>Passsword is <strong>required</strong></mat-error>
    </mat-form-field>
    <button mat-raised-button (click)="login()">Login</button>
  </form>
  